<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <title>Home</title>

</head>
<body>

<h1 id="p"></h1>

<button onclick="room()">Create Room</button>
<br>

<button onclick="room(false)">Join Room</button>
<br>
RoomName: <input id="roomName"/>
<br>
Password: <input id="password" value="1234"/>


<ul id="messages"></ul>


<form id="form" action="">
    <input id="input" autocomplete="off"/>
    <input type="submit" value="Send"/>
</form>

<!--TODO: In production change this line-->
<script src="/socket.io/socket.io.js"></script>
<!--to-->
<!--<script src="/socket.io/socket.io.min.js"></script>-->

<script src="code.js"></script>

</body>
</html>