/*****  Common  *****/
* {
    font-family: 'Rubik', sans-serif;
    transition: background-color 0.3s, opacity 0.3s;
    box-sizing: border-box;
}

:root {
    --primary-color: #1C1C1C;
    --accent-color: #F7F7F7;

    --primary-color-brighter: #333333;
    --accent-color-brighter: #FFFFFF;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

section {
    flex-grow: 1;
    align-self: center;
    width: 100%;
}

a {
    color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: bold;
}

i {
    cursor: pointer;
}

input:focus, textarea {
    outline: none;
}

input::placeholder {
    font-size: 1.3rem;
}

#snackbar {
    align-self: center;
    position: fixed;
    bottom: 0;
    color: var(--accent-color);
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 8px;
    z-index: 1;
    font-size: 1.3rem;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

footer {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    padding: 20px;
}

footer > a:first-child {
    margin-right: 10px;
}

.wide-button {
    border: none;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--accent-color);

    font-size: 2rem;
    padding: 1.1rem 0;
}

/*****  Home  *****/
.home {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 150px;
    gap: 5vh;
}

.home > h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0 calc(35vw - 150px) 5vh;
}

.home > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
}

.home > div > .wide-button {
    flex-basis: 18rem;
}

/*****  Create Room  *****/
.create-room {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 150px;
}

.create-room h1 {
    text-align: center;
    margin-bottom: 3vh;
    font-size: 2.5rem;
}

.create-room form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-room .wide-button {
    width: 70%;
    margin-top: 2vh;
}

.create-room input {
    display: block;
    margin: 1rem;
    padding: 0.5em;

    font-size: 1.5em;

    color: var(--primary-color);
    background-color: var(--accent-color-brighter);

    box-shadow: 0px 10px 25px 5px #0000000f;

    border-radius: 50px;
    border: none;
}


/*****  Chat  *****/
.chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.chat #messages {
    overflow-y: auto;
    overflow-x: hidden;
    width: 50%;
    flex: 1;
}

.chat li{
    margin-bottom: 10px;
    background-color: var(--accent-color-brighter);
    /*border: 1px solid black;*/
}

.chat ul{
    white-space: pre-wrap;
}

.chat ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 0;
    height: 0;
}

.chat li {
    padding: 10px;
}
.chat li::first-line{
    font-weight: bold;
    color:gray;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    padding-bottom: 40px;
    border-radius: 10px;
    gap: 10px;
}

.chat i {
    position: absolute;
    right: 5px;
    padding: 10px;
}

.chat textarea {
    width: 100%;
    font-size: 1.3rem;
    padding: 12px 40px 12px 12px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 25px 5px #0000000f;
    color: var(--primary-color);
    background-color: var(--accent-color-brighter);
}

.chat textarea {
    resize: none;
}

.chat textarea::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: var(--accent-color-brighter);
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

/*****  Responsive  *****/
@media (max-width: 700px) ,(max-height: 700px) {
    ::-webkit-scrollbar {
        width: 0.3em;
    }

    .home {
        padding: 50px 0 0 0;
        font-size: 1.5rem;
    }

    .home > h1 {
        font-size: 1.5rem;
        margin: 0 5vw 5vh;
    }

    .wide-button {
        font-size: 1.4rem;
    }

    .create-room input {
        width: 80%;
    }

    #snackbar {
        font-size: 1.1rem;
    }

    .chat #messages, .input-with-icon {
        width: 95%;
    }
}